feelppdb
__pycache__
*.pyc
*.pyo
.venv/
#docs/reports/2025/01-conv.png
#docs/reports/2025/1-conv.png
#docs/reports/2025/conv_Feel.png
#docs/reports/2025/Err_Feel.png
#docs/reports/2025/Exact_Solution.png
#docs/reports/2025/mu-05_Feel.png
#docs/reports/2025/mu-2_Feel.png
#docs/reports/2025/Solution_Scimba.png
#docs/reports/2025/05-conv.png
#docs/reports/2025/2-conv.png
#docs/reports/2025/conv_Scimba.png
#docs/reports/2025/Err_Scimba.png
#docs/reports/2025/mu-01_Feel.png
#docs/reports/2025/mu-1_Feel.png
#docs/reports/2025/Solution_Feel.png

#docs/reports/2025/Sarr-Presentation.tex
docs/raports/2025/*.log
docs/raports/2025/*.aux
docs/raports/2025/*.toc
docs/raports/2025/*.lof
docs/raports/2025/*.lot
docs/raports/2025/*.out
docs/raports/2025/*.fls
docs/raports/2025/*.fdb_latexmk
docs/raports/2025/*.bbl
docs/raports/2025/*.Synctex.gz
docs/raports/2025/*.toc
